---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        {{ site.first_name }} {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}
      <!-- Social -->
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>
        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    </div>

    <!-- News -->
    {% if page.announcements and page.announcements.enabled %}
      <div style="margin-top: 0.5rem;">
        <h2>
          <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
        </h2>
        {% include news.liquid limit=true %}
      </div>
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <div style="margin-top: 1.5rem;">
        <h2>
          <a href="{{ '/publications/' | relative_url }}" style="color: inherit">Publications</a>
        </h2>
        {% include selected_papers.liquid %}
      </div>
    {% endif %}

    <!-- Education -->
    {% if page.education and page.education.enabled %}
      <div style="margin-top: 1.5rem;">
        <h2>Educations</h2>
        <div style="margin-top: 1rem;" class="education {% if page.education.scrollable %}scrollable{% endif %}">
          {% for entry in site.data.education limit:page.education.limit %}
            <div class="education-item">
              <div class="education-text">
                <h3 class="institution">{{ entry.institution }}</h3>
                <div class="department">{{ entry.department }}</div>
                {% for degree in entry.degrees %}
                  <div class="degree">
                    <span class="degree-type">{{ degree.degree | split: ' in ' | first }}</span> in {{ degree.degree | split: ' in ' | last }} ({{ degree.year }})
                  </div>
                {% endfor %}
                {% if entry.description %}
                  <div class="description">{{ entry.description | replace: "ICS Honor Student", "<strong>ICS Honor Student</strong>" }}</div>
                {% endif %}
              </div>
              <div class="institution-logo-container">
                {% if entry.institution contains "Georgia" %}
                  <img src="{{ '/assets/img/gt-logo.png' | relative_url }}" alt="Georgia Tech Logo" class="institution-logo gt-logo">
                {% elsif entry.institution contains "California" %}
                  <img src="{{ '/assets/img/uci-logo.png' | relative_url }}" alt="UC Irvine Logo" class="institution-logo uci-logo">
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <!-- Teaching -->
    <div style="margin-top: -1rem;">
      <h2>Teaching</h2>
      {% include teaching.liquid %}
    </div>

    <!-- Services -->
    <div style="margin-top: 1.5rem;">
      <h2>Services</h2>
      {% include services.liquid %}
    </div>

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
